.main-app {
    text-align: center;
    margin: 6%;
}

.logo {
    width: 35%;
}

.discord-icon {
    width: 25px;
}

.discord-ann {
    display: inline-flex;
}

.title {
    color: white;
}

.mint-back {
    width: 69%;
    display: inline-block;
}

.cta-button {
    padding: 15px;
    border: none;
    border-radius: 12px;
    min-width: 250px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.connect-wallet-button {
    background: #ff4081;
}

.mint-nft-button {
    background: #ff9800;
}

.claim-nft-button {
    background: #64dd17;
}

.limit-nft-button {
    background: #f44336;
}

.change-network-button {
    background: #03a9f4;
}

.sold-out-button {
    background: #9c27b0;
}

.paused-button {
    background: #00897b;
}

.transact-button {
    background-color: #616161;
}

.price-a {
    display: -webkit-inline-box;
}

.polygon-icon {
    display: block;
    width: 25px;
    height: 25px;
    margin-top: 1em;
    border-radius: 25px;
}

.input-qty {
    padding: 15px;
    margin-right: 10px;
    border-radius: 6px;
}

.eggsGrid {
    display: -webkit-inline-box;
    width: 69%;
}

.buyGrid {
    width: 69%;
}

.mintedEgg {
    width: 33%;
}

.eggImage {
    width: 100%;
}

.axolotitto {
    position: absolute;
    z-index: -1;
    top: -7.5%;
    left: 55%;
    width: 35%;
}

.smart-contract {
    color: white;
}

.owned-back {
    background: #000000b6;
    border-radius: 25px;
    box-shadow: 6px 6px 8px #ffffff22;
}

span {
    display: block;
    height: 10px;
}